<h2>検索結果</h2>

<table>
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @ideas.each do |book| %>
        <tr>
          <td><%= idea.title %></td>
          <td><%= idea.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>